<html>

  <meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block body %}
  <h1>Signup</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form action="signup" method=post>
    <dl>
      <dt>Username:
      <dd><input class="user" type=text name=username value="{{
          request.form.username }}">
      <dt>Password:
      <dd><input class= "pass" type=password name=password>
      <dt>Retype password:
      <dd><input type="password" name =retype id =retype>
    </dl>
    <p><input type=submit value=Signup>
  </form>
  <style>
    input[type=text], input[type=password], input[type=submit] {
     width: 50%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
   }
 </style>


{% endblock %}

</html>